/*
- layout -
  ハンバーガーメニュー
*/

.l-hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  z-index: var(--z-index-trigger);
  position: fixed;
  right: 0;
  top: 0;
  background-color: var(--color-text);
  color: var(--color-white);
  line-height: 1.0;
}

.l-hamburger__line {
  background-color: currentColor;
  width: calc(100% - 3rem);
  height: 0.2rem;
  display: block;
  transition: transform 0.4s ease-in-out;

  &:not(:last-of-type) {
    margin-bottom: 0.6rem;
  }
}

.l-hamburger__label {
  font-size: 1.1rem;
  display: block;
}

/* 開いたとき */
.l-hamburger.is-open {
  .l-hamburger__line {
    &:first-child {
      transform: rotate(45deg);
    }
  }
}