/*
- layout -
  headerタグ設定
*/

.l-header {
  grid-area: header;
  position: relative;
  width: 100%;
}

.l-header-main {
  height: 6rem;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  padding: 0 2rem;
  background-color: var(--color-white);
  display: flex;
  align-items: center;

  @media (--min-lg) {
    position: static;
    height: 10rem;
    justify-content: space-between;
    padding: 1rem 4rem;
  }
}

.l-header-logo {
  flex: 0 0 auto;
  max-width: 100%;
  width: 12rem;

  @media (--min-lg) {
    width: max-content;
  }
}

.l-header-nav {
  display: none;
  height: 100%;

  @media (--min-lg) {
    display: block;
  }
}

.l-header-nav__wrap {
  height: 100%;
}


/* 追従バナー */
.l-header-main--fixed {
  position: fixed;
  left: 0;
  top: 0;
  z-index: var(--z-index-header);
  transform: translateY(-100%);

  @media (--max-md) {
    display: none;
  }
}
