/*
- layout -
  ナビゲーション
*/

.l-nav-global {
  list-style: none;
  padding-left: 0;

  @media (--min-lg) {
    display: flex;
    height: 100%;
  }
}

.l-nav-global__item {
  position: relative;
}

.l-nav-global__link {

  @media (--min-lg) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 1rem 2rem;
    height: 100%;
    transition: color 0.4s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        color: var(--color-theme);
      }
    }
  }

}

.l-nav-global__link-label {
  @media (--min-lg) {
    font-weight: 500;
  }
}


/* ドロワーメニュー内 */
.l-drawer {
  .l-nav-global {
    padding-top: 6rem;
    padding-inline: 1rem;
  }

  .l-nav-global__link {
    padding: 1.5rem 1rem;
    font-size: 1.6rem;
    display: block;
  }
}

/* ドロップダウンメニュー */
@media (--min-lg) {
  .l-nav-dropdown {
    position: absolute;
    left: 0;
    bottom: -1rem;
    background-color: var(--color-white);
    transform: translateY(100%);
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
    z-index: var(--z-index-header);
  }

  .l-nav-dropdown.is-show {
    opacity: 1;
    visibility: visible;
  }

  .l-nav-dropdown__list {
    list-style: none;
    padding-left: 0;
  }

  .l-nav-dropdown__link {
    display: block;
    padding: 1rem;
    transition: color 0.4s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        color: var(--color-theme);
      }
    }
  }
}
